
body,
html {
	overflow: hidden;
	margin: 0;
	background-color: var(--background);
	font-family: var(--main-font-Squada);
}
input, select {
	font-family: var(--main-font-Squada);
}
canvas {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
}

.main {
	margin-left: 160px;
	padding: 0px 0px;
}

select:focus {
	outline: none;
}