/*
|*************************************************************************;
* Base Window Styles
|*************************************************************************;
*/
.ui-draggable {
	background-image: var(--svg-ui-background);

	-webkit-box-shadow: var(--webkit-boxshadow);
	-moz-box-shadow: var(--moz-boxshadow);
	box-shadow: var(--box-boxshadow);
	background-color: var(--user-style-02);
	border: solid 2px var(--user-style);

}


/*
|*************************************************************************;
* Win -Settings Panel
|*************************************************************************;
*/

.settings {
	z-index: 3;
	-webkit-box-shadow: var(--webkit-boxshadow);
	-moz-box-shadow: var(--moz-boxshadow);
	box-shadow: var(--box-boxshadow);

	background: var(--user-style);
	
	position: absolute;
	width: calc( 100% - 36px );
	max-width: 400px;
	clip-path: polygon(
		0 0,
		100% 0px,
		100% calc(100% - 30px),
		calc(100% - 30px) 100%,
		0 100%,
		
		0 60%,
		10px calc(60% - 10px),
		10px calc(40% + 10px),
		0 40%
	  );
	  
	height: 400px;
	display: none;
	opacity: 0.5;
	left: 20%;
	top: 10%;

	padding: 5px;
	color: whitesmoke;
}
.settings:hover {
	opacity: 1;
}

.settings .settings-close {
	position: absolute;
	color: var(--red);
	top: 3px;
	right: 3px;
	user-select: none;
	z-index: 2;
}

.settings .settings-close:hover {
	cursor: pointer;
	transform: scale(1.2);
}

/*
|*************************************************************************;
* Win -Add Point
|*************************************************************************;
*/

.add-point {
	display: none;
	position: absolute;
	left: 20%;
	top: 10%;
	min-width: 12px;
	min-height: 12px;
	padding: 5px;
	z-index: 1;
	color: whitesmoke;
}

.add-point form {
	display: flex;
	flex-direction: column;
}

.add-point form input {
	margin: 5px 0;
	filter: brightness(0.8);
}

.add-point form input:focus {
	filter: brightness(1);
	outline: none;
}

.add-point .coordinates {
	border: none;
	margin: 0;
	padding: 0;
}

.add-point input[type="number"] {
	max-width: 80px;
}

.dropdown-select {
	border: none;
	margin-top: 1px;
	margin-bottom: 1px;

	background-color: var(--user-style-02);
	color: var(--user-style);
	border: 2px var(--user-style) solid;

	transition: color 0.25s;
}

.dropdown-select:hover {
	background-color: var(--user-style);
	color: var(--user-style-02);

	transition: color 0.25s;
}

.dropdown-select:focus {
	background-color: var(--user-style-02);
	color: var(--user-style);
}

input[type="text"] {
	background-color: var(--user-style-02);
	border: 2px var(--user-style) solid;
	color: var(--user-style);
}

input[type="number"] {
	background-color: var(--user-style-02);
	border: 2px var(--user-style) solid;
	color: var(--user-style);
}

.genericbutton {
	background-color: var(--user-style-02);
	border: 2px var(--user-style) solid;
	color: var(--user-style);

	transition: color 0.25s;
}

.genericbutton:hover {
	background-color: var(--user-style);
	border: 2px var(--user-style) solid;
	color: var(--user-style-02);

	transition: color 0.25s;
}

.add-point .close {
	position: absolute;
	color: var(--red);
	top: 3px;
	right: 3px;
	user-select: none;
	z-index: 2;
}

.add-point .close:hover {
	cursor: pointer;
	transform: scale(1.2);
}

.add-point legend {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 5px;
	user-select: none;
}

