body,
html {
	overflow: hidden;
	margin: 0;
	background-color: var(--background);
	font-family: var(--main-font-Squada);
}

input,
select {
	font-family: var(--main-font-Squada);
}

canvas {
	display: block;
	position: absolute;
	left: 0px;
	right: 0px;
}

.main {
	margin-left: 160px;
	padding: 0px 0px;
}

select:focus {
	outline: none;
}

/* Universal */

/* Color scheme:
77878B - Grey
1C1D21 - black
96031A = red
Whitesmoke
#333;
#111;
*/

button {
	font-family: var(--main-font-Squada);
	background-color: #111111;
	color: var(--user-style);
	border-width: 1px;
	border-color: var(--user-style);
	padding-top: 2px;
	padding-bottom: 2px;
	transition: color 0.25s;
	font-size: 1em;
}

button:hover {
	background-color: var(--user-style);
	color: #111111;

	transition: color 0.25s;
}

input[type=submit] {
	background-color: #111111;
	color: var(--user-style);
	border: 2px var(--user-style) solid;

	transition: color 0.25s;
}

input[type=submit]:hover {
	background-color: var(--user-style);
	color: #111111;

	transition: color 0.25s;
}

input[type=number] {
	background-color: #111111;
	color: white;
	border: 2px var(--user-style) solid;

	transition: color 0.25s;
}

.checkbox-option {
	margin: 0;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	cursor: pointer;
	user-select: none;

	transition: color 0.4s;
	transition: background-color 0.4s;
}

.checkbox-option:hover {
	color: whitesmoke;
	background-color: #111;

	transition: color 0.4s;
	transition: background-color 0.4s;
}

.color-option {
	margin: 0;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	display: block;
	cursor: pointer;
	user-select: none;

	transition: color 0.4s;
	transition: background-color 0.4s;
}

.color-option:hover {
	color: whitesmoke;
	background-color: #111;

	transition: color 0.4s;
	transition: background-color 0.4s;
}

/* fancy color picker */

#customColorTheme{
	border-radius: 100%;
	height: 20px;
	width: 20px;
	border: none;
	outline: none;
	-webkit-appearance: none;
}

#customColorTheme::-webkit-color-swatch-wrapper {
	padding: 0;
}
#customColorTheme::-webkit-color-swatch {
	border: none;
	border-radius: 100%;
}

/* UI Button grid */
/* Note: There should be 2 rows, but for time only going with 1 for now */
.button-grid {
	/* height: 100px; */
	height: 50px;
}

.button-row {
	width: 100%;
	/* height: 50%; */
	height: 100%;
	display: flex;
	justify-content: space-around;
}

.button-row button {
	display: inline-flex;
	justify-content: center;
	background-color: #111111;
	color: var(--user-style);
	flex-grow: 1;
	cursor: pointer;
	border-width: 1px 0;
}

.button-row button:last-child {
	border-left-width: 1px;
}

.button-row button:first-child {
	border-right-width: 1px;
}

.button-row button:hover {
	background-color: var(--user-style);
	color: #111111;
	transition: color 0.25s;
}

.button-row span {
	font-size: 200%;
	margin: auto;
}

/* Side Nav */

#find {
	color: whitesmoke;
	border: 2px dashed var(--user-style);

	background-color: #111111;
	margin-top: 2px;
}

#find:hover {
	border: 2px dashed var(--user-style);
	background-color: var(--user-style);
	color: #111;
}

.nopadding {
	padding: unset !important;
}

.colap-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.layerheader {
	margin: 2px !important;
	font-size: 17px !important;
	border-bottom-style: solid !important;
	font-weight: bold;
}

.wrapper-sidebar {
	height: 100vh;
	overflow: auto;
	-webkit-box-shadow: var(--webkit-boxshadow-blue);
	-moz-box-shadow: var(--moz-boxshadow-blue);
	box-shadow: var(--box-boxshadow-blue);

	scrollbar-color: var(--user-style) rgba(0, 0, 0, 0);
	scrollbar-width: thin;
}

.sidenav {
	-webkit-box-shadow: var(--webkit-boxshadow);
	-moz-box-shadow: var(--moz-boxshadow);
	box-shadow: var(--box-boxshadow);

	height: 100%;
	/* Full-height: remove this if you want "auto" height */
	width: 175px !important;
	/* Set the width of the sidebar */
	position: fixed;
	/* Fixed Sidebar (stay in place on scroll) */
	z-index: 1;
	/* Stay on top */
	top: 0;
	/* Stay at the top */
	left: 0;
	background-color: #111;
	/* Black */
	overflow: hidden;

	display: flex;
	flex-direction: column;

	scrollbar-color: var(--user-style) rgba(0, 0, 0, 0);
	scrollbar-width: thin;
}

.sidenav a {
	text-align: center;
	background-color: whitesmoke;
	color: #333;

	text-decoration: none;

	padding: 0.75em 0;

	transition: color 0.25s;
	transition: background 0.25s;
}

.sidenav a:hover {
	background-color: #333;
	color: whitesmoke;
}

.sidenav p {
	padding: 0px 8px 6px 10px;
	margin: 0;
	text-decoration: none;
	font-size: 15px;
	color: var(--user-style);
	display: block;
	cursor: pointer;
	text-align: center;
	user-select: none;

	transition: max-height 0.2s ease-out, background-color 0.4s, color 0.4s;
}

.sidenav-point:hover {
	color: whitesmoke;
	background-color: #333;

	transition: max-height 0.2s ease-out, background-color 0.4s, color 0.4s;
}

.sidenav-bottom {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	/*
	This was a fix for the hover info being unreadable near the top, however it completly broke when you scrolled
	margin-top: -200px;
	padding-top: 200px;
	*/
	height: 50%;
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-color: var(--user-style) rgba(0, 0, 0, 0);
	scrollbar-width: thin;
}

.sidenav-bottom * {
	margin-top: 2px;
}

#points-title {
	color: whitesmoke;
	text-align: center;
	padding: 8px 0;
	font-weight: bold;
	font-size: 1.5em;
	user-select: none;
}

#new-point {
	font-family: var(--main-font-Squada);
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 2px dashed var(--user-style);

	outline: none;
	background-color: #111;
	font-size: 16px;

	min-height: 48px;
	cursor: pointer;
	transition: color 0.25s;
	transition: background 0.25s;

	color: var(--user-style);
}

#new-point span {
	margin: auto 5px;
}

#new-point:hover {
	border: 2px dashed var(--user-style);
	background-color: var(--user-style);
	color: #111;
}

.search-hide {
	display: none !important;
}

/* Info Window */

.info-container {
	position: absolute;
	right: 10px;
	top: 10px;
	min-width: 12px;
	min-height: 12px;
	padding: 10px;
	z-index: 1;
	color: whitesmoke;
}

#dropdown-minimize {
	padding: 3px;

	position: absolute;
	top: 0;
	right: 0;

	margin: 5px;

	transition: 0.5s transform;

	cursor: pointer;

	transform: scale(1);
	z-index: 1;
}

.distance-to-selector {
	outline: none;
}

.speed-input {
	outline: none;
}

.info {
	width: 100%;
	height: 100%;

	height: auto;
}

.infoText {
	padding-left: 5px;
	margin: 0;
	margin-bottom: 5px;
	margin-top: 5px;
	width: fit-content;
}

.infoImage {
	max-width: 270px;
	max-height: 270px;
	margin-top: 10px;
}

.distance-fieldset {
	border-width: 2px 0 0 0;
	text-align: center;
}

.distance-fieldset legend {
	padding: 0 5px;
}

.distance-fieldset p {
	margin: 0;
}

/* Login Button */

#login {
	background-color: var(--user-style);
	color: #111111;
	/*border-radius: 5px;

	background-color: #7289da;
	color: whitesmoke; */
	width: 100%;

	border: none;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
	outline: none;
	height: 45px;

	display: flex;
	flex-direction: row;

	align-items: center;
	vertical-align: middle;

	justify-content: space-between;
	transition: filter 0.25s;
}

#login:hover {
	background-color: var(--user-style);
	color: #111;
}

#login img {
	height: 80%;
	padding-left: 5px;
	flex-grow: 0;
}

#login:hover img {
	color: #111;
	/* This is equivalent to switching from whitesmoke to #333, lets us change the color of an image without any JS */
	filter: invert(15%) sepia(1%) saturate(0%) hue-rotate(87deg) brightness(95%) contrast(85%);
}

#login .login-text {
	flex-grow: 1;
	font-size: 24px;
	font-family: var(--main-font-Squada);
}

/* One time popup */

.popup {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.popup-content {
	margin: 15% auto;
	padding: 20px;
	width: 50%;
	color: var(--user-style);
	background-color: #111111;
	border: 2px solid var(--user-style);

	box-shadow: 0px 0px 43px 1px var(--user-style);
	-webkit-box-shadow: 0px 0px 43px 1px var(--user-style);
	-moz-box-shadow: 0px 0px 43px 1px var(--user-style);
}

.popup-content h1 h2 h3 h4 h5 h6 h7 h8 {
	color: var(--user-style);
	text-align: center;
}

.popup-content a {
	color: var(--user-style);
}


.topPopupBanner {
	position: absolute;
	z-index: 1;
	width: 40%;
	left: 30%;
	background-color: rgba(0, 128, 0, 0.8);
	border-radius: 5px;
	top: 15px;
}

.topPopupBanner p {
	text-align: center;
}

/* Calculator panel */
.calculator {
	display: none;
	opacity: 0.5;
	position: absolute;
	left: 20%;
	top: 10%;
	min-width: 12px;
	min-height: 12px;
	padding: 5px;
	z-index: 1;
	color: whitesmoke;
}

.calculator:hover {
	opacity: 1;
}

.calculator .calc-close {
	position: absolute;
	color: var(--red);
	top: 3px;
	right: 3px;
	user-select: none;
	z-index: 2;
}

.calculator .calc-close:hover {
	cursor: pointer;
	transform: scale(1.2);
}

.calc-title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 5px;
	user-select: none;
}

.more-info {
	width: fit-content;
	right: 30px;
	position: absolute;
	top: 4px;
}

.more-info .more-info-tooltip {
	visibility: hidden;
	width: max-content;
	background-color: #111;
	border: var(--user-style) 2px solid;
	overflow: visible;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	bottom: 100%;
}

.more-info .more-info-tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	/* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	background-color: #111;
	border: var(--user-style) 2px solid;
}

.more-info:hover .more-info-tooltip {
	visibility: visible;
}

.infoMainBody {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5em;
}

.isanDispalyDiv {
	background-color: rgb(0, 10, 15);
	width: fit-content;
	display: inline-block;
}

.desc {
	border: 1px solid gray;
	margin-top: 10px;
	max-width: min-content;
	min-width: 100%;
	word-break: break-word;
}

.infoDiv {
	margin-left: 10px;
}

.infoDiv button {
	width: 100%;
}

.isanDispalyVal {
	/* font-family: var(--main-font-VT323); */
	/* Specifically using the font used in game */
	font-family: Telegrama;
	/* font-size: 1.0em; */
	color: rgb(30, 175, 180);

	margin-block-start: 0;
	margin-block-end: 0;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-right: 15px;
	white-space: nowrap;
}

.info #delete-point {
	margin: 5px 0;
	background-color: var(--red);
	color: whitesmoke;
	outline: none;
	border: solid 1px whitesmoke;
	width: 100%;
	height: 2em;
	cursor: pointer;
}

.info #delete-point:hover {
	background-color: var(--red-hover);
	color: whitesmoke;
}

/* Update point Button */
/* Volcano please change the color being identical, I dont know css */

.info #update-point {
	margin: 5px 0;
	/* CSS has variables??? W H A T */
	background-color: var(--red);
	color: whitesmoke;
	outline: none;
	border: solid 1px whitesmoke;
	width: 100%;
	height: 2em;
	cursor: pointer;
}

.info #update-point:hover {
	background-color: var(--red-hover);
	color: whitesmoke;
}

/* Groups page */

h1 {
	color: whitesmoke;
}

p {
	color: whitesmoke;
}

.back-index {
	background-color: whitesmoke;
	color: #333;

	text-decoration: none;

	padding: 10px 20px;
}

.back-index:hover {
	background-color: #333;
	color: whitesmoke;
}

.back-index span {
	vertical-align: middle;
	padding-bottom: 3px;
}

.filter-view-option {
	padding: 6px 8px 6px 10px;
	width: 100%;
	position: relative;
	margin: 0;
	text-decoration: none;
	/* font-size: 12px; */
	color: var(--user-style);
	display: inline-block;
	cursor: pointer;
	text-align: left;
	user-select: none;

	transition: color 0.4s;
	transition: background-color 0.4s;
}

.filter-view-option label,
input {
	cursor: pointer;
}

.filter-view-option:hover {
	color: whitesmoke;
	background-color: #333;

	transition: color 0.4s;
	transition: background-color 0.4s;
}

.filter-view-option .filter-view-option-tooltip {
	visibility: hidden;
	width: 120px;
	background-color: #111;
	border: var(--user-style) 2px solid;
	overflow: visible;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
}

.filter-view-option .filter-view-option-tooltip::after {
	content: " ";
	position: absolute;
	top: 100%;
	/* At the bottom of the tooltip */
	left: 50%;
	margin-left: -5px;
	background-color: #111;
	border: var(--user-style) 2px solid;
}

.filter-view-option:hover .filter-view-option-tooltip {
	visibility: visible;
	animation: 0.5s fadeIn;
}

.filter-view-option .filter-view-option-tooltip:hover {
	visibility: hidden;
	animation: 0.5s fadeOut;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}
